.home {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
}

.home__products {
    
}

.home__productRow {
    display: flex;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient( to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}